/* line 6, ../github/test-sass/sass/style.sass */
h1, h2, h3, p {
  color: #AAAABB;
}

/* line 9, ../github/test-sass/sass/style.sass */
.contenedor, .contenedor-con-altura {
  width: 1280px;
}

/* line 12, ../github/test-sass/sass/style.sass */
.contenedor-con-altura {
  height: 514px;
}

/* line 17, ../github/test-sass/sass/style.sass */
ul {
  font-size: 1.2rem;
  color: red;
}

/* line 20, ../github/test-sass/sass/style.sass */
ul ul {
  font-size: 0.7rem;
  color: green;
}

/* line 23, ../github/test-sass/sass/style.sass */
ul ul ul {
  font-size: 0.5rem;
  color: blue;
}

/* line 27, ../github/test-sass/sass/style.sass */
a {
  color: blue;
  text-decoration: none;
  font-size: 1.2rem;
}

/* line 32, ../github/test-sass/sass/style.sass */
a:hover {
  color: green;
  text-decoration: underline;
}

/* line 37, ../github/test-sass/sass/style.sass */
a:focus {
  color: red;
  text-decoration: none;
}

/* line 41, ../github/test-sass/sass/style.sass */
a.enlace-propio {
  color: red;
}

/* line 44, ../github/test-sass/sass/style.sass */
.mitad {
  width: 640px;
}

/* line 48, ../github/test-sass/sass/style.sass */
.cuarto {
  width: 320px;
}

/* line 52, ../github/test-sass/sass/style.sass */
.octavo {
  width: 160px;
}

/* line 60, ../github/test-sass/sass/style.sass */
.decimo {
  width: 128px;
}

/* line 63, ../github/test-sass/sass/style.sass */
.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 67, ../github/test-sass/sass/style.sass */
.col-2 {
  width: "50%";
}

/* line 67, ../github/test-sass/sass/style.sass */
.col-3 {
  width: "33.33333%";
}

/* line 67, ../github/test-sass/sass/style.sass */
.col-4 {
  width: "25%";
}

/* line 67, ../github/test-sass/sass/style.sass */
.col-5 {
  width: "20%";
}

/* line 67, ../github/test-sass/sass/style.sass */
.col-6 {
  width: "16.66667%";
}

/* line 67, ../github/test-sass/sass/style.sass */
.col-7 {
  width: "14.28571%";
}

/* line 67, ../github/test-sass/sass/style.sass */
.col-8 {
  width: "12.5%";
}

/* line 67, ../github/test-sass/sass/style.sass */
.col-9 {
  width: "11.11111%";
}

/* line 67, ../github/test-sass/sass/style.sass */
.col-10 {
  width: "10%";
}

/* line 67, ../github/test-sass/sass/style.sass */
.col-11 {
  width: "9.09091%";
}

/* line 67, ../github/test-sass/sass/style.sass */
.col-12 {
  width: "8.33333%";
}

/* line 73, ../github/test-sass/sass/style.sass */
.col-while-2 {
  width: "50%";
}

/* line 73, ../github/test-sass/sass/style.sass */
.col-while-3 {
  width: "33.33333%";
}

/* line 73, ../github/test-sass/sass/style.sass */
.col-while-4 {
  width: "25%";
}

/* line 73, ../github/test-sass/sass/style.sass */
.col-while-5 {
  width: "20%";
}

/* line 73, ../github/test-sass/sass/style.sass */
.col-while-6 {
  width: "16.66667%";
}

/* line 73, ../github/test-sass/sass/style.sass */
.col-while-7 {
  width: "14.28571%";
}

/* line 73, ../github/test-sass/sass/style.sass */
.col-while-8 {
  width: "12.5%";
}

/* line 73, ../github/test-sass/sass/style.sass */
.col-while-9 {
  width: "11.11111%";
}

/* line 73, ../github/test-sass/sass/style.sass */
.col-while-10 {
  width: "10%";
}

/* line 73, ../github/test-sass/sass/style.sass */
.col-while-11 {
  width: "9.09091%";
}

/* line 73, ../github/test-sass/sass/style.sass */
.col-while-12 {
  width: "8.33333%";
}

/*# sourceMappingURL=style.css.map */