@import "mixins.scss";

$ancho : 1280px;
$color-letra : #AAAABB;
$altura: 514px;

h1, h2, h3, p{
    color: $color-letra;
}
  

.contenedor{
    width: $ancho;
}
   
.contenedor-con-altura{
    @extend .contenedor;
    height: $altura;
}
    
ul {
    font-size: 1.2rem;
    color:red;
    ul{
        font-size: 0.7rem;
        color:green; 
        ul{
            font-size: 0.5rem;
            color:blue;
        }
    }
}

a {
    color:blue;
    text-decoration: none;
    font-size: 1.2rem;

    &:hover{
        color:green;
        text-decoration: underline;
    }

    &:focus{
        color:red;
        text-decoration: none;
    }

    &.enlace-propio{
        color:red;
    }
}

.mitad{
    width: ($ancho/2);
}

.cuarto{
    width: ($ancho/4);
}

.octavo{
    width: ($ancho/8);
}

@function partir($tam,$numpart){
    @return($tam/$numpart);
}

.decimo{
    width: partir($ancho,10);
}

.box {
    @include border-radius(5px);
}

@for $p from 2 through 12{
    .col-#{$p}{
        width: 100/$p+"%";
    }
}

$y : 2;

@while $y <= 12 {
    .col-while-#{$y}{
        width: 100/$y+"%";
    }
    $y : $y + 1;
}
